In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./구매내역정보.csv',encoding = 'cp949')

In [3]:
print(df)

               ID 상품대분류명     상품중분류명    구매지역      구매일자  구매시간  구매수량     구매금액  \
0       410362886   의류잡화  여성용의류-정장류  서울 송파구  20140510     1     1   198000
1       643279402     식품        농산물  경기 성남시  20140612     1     1     2000
2       643279402     식품        농산물  경기 성남시  20140612     1     1     4000
3       643279402     식품        농산물  경기 성남시  20140612     1     1     5000
4       643279402     식품        농산물  경기 성남시  20140612     1     1     9000
...           ...    ...        ...     ...       ...   ...   ...      ...
101687  797822538   가전제품    휴대폰/태블릿   서울 중구  20140528    22     1        0
101688  797822538   가전제품    휴대폰/태블릿   서울 중구  20140528    22     1     9000
101689  862978930    레포츠   스포츠용품/의류  서울 강서구  20140817    22     1    88000
101690  968743249   가전제품      TV/AV  경기 성남시  20141031    22     1  2569000
101691  980881628   의류잡화  남성용의류-캐주얼   서울 중구  20140815    22     1    50000

        취소여부
0          0
1          0
2          0
3          0
4          0
...      ...
101687     0
101688     0
101689     0
101690     0
101691     0

[101692 rows x 9 columns]

In [34]:
for i in df.columns:
    print(i

SyntaxError: unexpected EOF while parsing (2112133706.py, line 2)

In [35]:
data = df.select_dtypes(include = 'object')

In [36]:
data.drop_duplicates()

       상품대분류명          상품중분류명     구매지역
0        의류잡화       여성용의류-정장류   서울 송파구
1          식품             농산물   경기 성남시
5          식품              음료   경기 성남시
6        의류잡화       남성용의류-캐주얼   경기 부천시
7          식품              음료    서울 중구
...       ...             ...      ...
98264    가전제품         휴대폰/태블릿   서울 동작구
99950    가전제품         컴퓨터주변기기   부산 동래구
100927   가전제품           TV/AV  경기 남양주시
101592   가전제품  PC/노트북/프린터/카메라   경기 광명시
101675   가전제품  PC/노트북/프린터/카메라   서울 동작구

[923 rows x 3 columns]

In [56]:
for i in df.select_dtypes(include = 'object').columns:
    print(i)

상품대분류명
상품중분류명
구매지역

In [50]:
for i in df[col].drop_duplicates():
    print(i)

의류잡화
식품
가전제품
레포츠
생활잡화
가구
명품

In [58]:
list(df[col].drop_duplicates())

['의류잡화', '식품', '가전제품', '레포츠', '생활잡화', '가구', '명품']

In [71]:
df[df['상품대분류명'].isin(value)]

,ID,상품대분류명,상품중분류명,구매지역,구매일자,구매시간,구매수량,구매금액,취소여부
0,410362886,의류잡화,여성용의류-정장류,서울 송파구,20140510,1,1,198000,0
1,643279402,식품,농산물,경기 성남시,20140612,1,1,2000,0
2,643279402,식품,농산물,경기 성남시,20140612,1,1,4000,0
3,643279402,식품,농산물,경기 성남시,20140612,1,1,5000,0
4,643279402,식품,농산물,경기 성남시,20140612,1,1,9000,0
...,...,...,...,...,...,...,...,...,...
101686,797822538,가전제품,컴퓨터주변기기,서울 중구,20140528,22,1,9000,0
101687,797822538,가전제품,휴대폰/태블릿,서울 중구,20140528,22,1,0,0
101688,797822538,가전제품,휴대폰/태블릿,서울 중구,20140528,22,1,9000,0
101690,968743249,가전제품,TV/AV,경기 성남시,20141031,22,1,2569000,0
101691,980881628,의류잡화,남성용의류-캐주얼,서울 중구,20140815,22,1,50000,0

In [62]:
value = ['의류잡화', '식품', '가전제품']